
# Android / Gradle build outputs (never commit)
**/build/
**/.gradle/
**/*.apk
**/*.aab
**/*.dex
**/*.class

# Android build outputs
**/build/
**/*.class
**/*.dex


# Android build outputs (NEVER commit)
**/build/
**/.gradle/
**/*.dex
**/*.class
